<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studienprojekt.normann.marc.citygen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Tool_Information">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Info_window"
            android:theme="@style/AppTheme.ThemeInfoWindow" />
        <activity
            android:name=".Animation"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tool_Information" />
        </activity>
        <activity
            android:name=".Number_person"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tool_Information" />
        </activity>
        <activity
            android:name=".Barriers"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tool_Information" />
        </activity>
        <activity
            android:name=".Building_structure"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tool_Information" />
        </activity>
        <activity
            android:name=".Dynamics_of_user_group"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tool_Information" />
        </activity>
        <activity
            android:name=".Infrastructure"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tool_Information" />
        </activity>
        <activity
            android:name=".Interference_usage_pattern"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tool_Information" />
        </activity>
        <activity
            android:name=".Modul"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tool_Information" />
        </activity>
        <activity
            android:name=".Placeholder"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tool_Information" />
        </activity>
        <activity
            android:name=".Project_groups"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Project_groups" />
        </activity>
        <activity
            android:name=".Survival_logic"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tool_Information" />
        </activity>
        <activity
            android:name=".Spots"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tool_Information" />
        </activity>
        <activity
            android:name=".Universal_space_concept"
            android:parentActivityName=".Tool_Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Tool_Information" />
        </activity>
    </application>

</manifest>